{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container ">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You For Choosing Ear-Resistable</h2>
                <hr>
                <p>Your order information is below and a confirmation email will be sent to <strong>{{ order.email }}</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Order Number:</strong></p>
                        </div>
                        <div class="col-12 col-md-4 text-end">
                            <p>{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Delivering To:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-end">
                <a href="{% url 'products' %}?category=summer_collection,deals,clearance" class="btn btn-pink rounded-0 my-0">
                    <span class="icon">
                        <i class="fas fa-shopping-basket"></i>
                    </span>
                    <span class="text-uppercase">Check out our newest collection and best deals!</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}