html {
    height: 100%;
}

body {
    background: url('/media/earring-home-background.jpg') no-repeat top center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Raleway';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5 rem;
    width: 1.5 rem;
}

.logo-font {
    text-transform: uppercase;
}

.logo-styling {
    color: #FA0657;
    font-family: 'WindSong';
    text-transform: capitalize;
}

.logo-link {
    width: fit-content;
}

.btn-yellow {
    background: #FFFF63;
    color: #000;
    min-width: 2 rem;
}

.btn-pink {
    background: #FA0657;
    color: #000;
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus {
    color: #FFFF63;
    background: #000;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background: #000;
    color: #FA0657;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000 !important;
}

.bg-black {
    background: #000;
}

.bg-nav {
    background: #FFFF63;
}

.lower-bg-nav {
    background: #FA0657;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fdfd96;
    position: fixed;
    z-index: -1;
}

.hr-styling {
    color: #FA0657;
}

.icon-styling {
    color: #ffff00;
}

.product-styling {
    font-family: 'Lobster';
    color: #FA0657;
}

.badge-styling {
    background: #FA0657;
    color: #000;
}

a.category-badge > span.badge:hover {
    background: #000;
    color: #FA0657;
}

.back-to-btn {
    height: 3em;
    width: 3em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.back-to-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.footer-styling {
    background-color: #FA0657;
    color:#fdfd96;
}

.footer-contact {
    list-style: none;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Color classes added to match Bootstrap */

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

/* ----------------------- Media Queries */

@media (min-width: 1200px) {
    .container{
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}