<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="navbar-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Items</a>
            </div>
        </li>
        <li class="navbar-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="single-piece-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Single Piece Earrings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="single-piece-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Single Piece Earrings</a>
            </div>
        </li>
        <li class="navbar-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="multi-piece-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Multi-Piece Earrings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="multi-piece-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Multi-Piece Earrings</a>
            </div>
        </li>
        <li class="navbar-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item">Summer Collection</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>